
@{
    ViewBag.Title = "GPT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PHƯƠNG TRÌNH BẬC 2</h2>
<h2>Phương trình bậc 2</h2>
@using (Html.BeginForm())
{
    <label>Nhập vào hệ số  a: </label>
    <input type="text" name="soa" />
    <br />
    <label>Nhập vào hệ số  b: </label>
    <input type="text" name="sob" />
    <br />
    <label>Nhập vào hệ số  c: </label>
    <input type="text" name="soc" />
    <br />
    <input type="submit" value="Gửi" />
}
<br />
<h3>@ViewBag.abc</h3>
<br />


